body {
    margin: 0;
    background-color: rgb(212, 189, 233);
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
main {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 80px;
}
aside {
    background-color: rgb(107, 75, 137);
    color: plum;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%; 
    text-align: center;
}
aside p {
    font-weight: bold;
    font-size: 17px;
}
.playlist {
    list-style: none;
    padding: 0;

}

.playlist li {
    margin: 10px; 
    background-color: rgb(107, 75, 137);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.playlist li:hover {
    background-color: rgb(85, 55, 117);
    color: white;
}

.playlist li a {
    margin: 10px; 
    list-style: none; 
    color: plum; 
    background-color: transparent;
    border: none; 
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    font-style: oblique;

}


.secondaryPage h1 {
    padding-top: 0;
    margin-top: 30px;

}

.indice {
    background-color: rgb(107, 75, 137);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800; 
}

.indice ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 60px;
}


.indice ul li {
    margin: 5px; 
}

.indice ul li a {
    text-decoration: none;
    color: plum;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease;
}

.indice ul li a:hover {
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: plum;
    margin-bottom: 0;
    background-color: rgb(107, 75, 137);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 500px;
    border-radius: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

img {
    border-radius: 20px;
}

blockquote {
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: plum;
    background-color: rgb(107, 75, 137);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 20px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: plum;
    background-color: rgb(107, 75, 137);
    width: 700px;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 10px;

}
.video-container {
    position: relative;
    padding-bottom: 10%;
    height: 0;
    max-width: 100%;
    border-radius: 20px;
    text-align: center;
    margin-top: 0;
}
.video-container iframe {
    top: 0;
    left: 0;
    margin-bottom: 50px;
}
.pie-pagina {
    background-color: rgb(107, 75, 137);
    color: plum;
    padding: 5px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
}
.pie-pagina p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: plum;

}

table {
    border-radius: 15px;
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    border-color: black;
    padding: 30px;
    border: 5px solid rgb(107, 75, 137);
}

td {
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    border: 3px solid rgb(107, 75, 137);
    border-style: dashed;
}

table img {
    width: 200px;
    height: 150px;
    border-radius: 15px;
}

.star {
    width: 25px;
    height: 20px;
}

.back-to-top {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    color: plum;
    background-color: rgb(107, 75, 137);
    text-decoration: none;
    border-radius: 20px;
}
.back-to-top:hover {
    background-color: rgb(85, 55, 117);
    color: white;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: plum;
    background-color: rgb(107, 75, 137);
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;

}
nav ul li a:hover {
    background-color: rgb(85, 55, 117);
    color: white;
}
nav ul li { 
    list-style: none;
    display: inline-block;
    margin: 20px;
}
nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

#options button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(107, 75, 137);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#options button:hover {
    background-color: rgb(85, 55, 117);
    transform: scale(1.1); 
}

#options button:active {
    background-color: rgb(65, 35, 97);
    transform: scale(1);    
}

#trivia {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    width: 600px;
}

#logo {
    width: 200px;
    height: auto;
}

#question {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(85, 55, 117);
    margin-bottom: 20px;
}
.botton {
    text-align: center;
    padding: 20px;
}

.botton2 {
    margin-bottom: 50px;

}



